@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 style ="text-align:center">Talofa lava & Welcome to Aukilani Hire</h1>
    <br>
    <h2 style="text-align:center">Located at 64 Lansford Crescent in Avondale</h2>
    <hr>
    <p style="font-size:160%;">
        Aukilani Community church offers Hire facilities for Many of their rooms.
        Suitable for all events, being Conferences, Funerals, Weddings, or Community 
        functions. <br>
    <p style="text-align:center; font-size:160%;"> <strong>Aukilani Hire is available to you</strong> </p>
    </div>
</div>
