@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 style ="text-align:center">Talofa lava & Welcome to Aukilani Hire</h1>
    <br>
    <h2 style="text-align:center">Located at 64 Lansford Crescent in Avondale</h2>
    <hr>
    <p style="font-size:160%;">
        Aukilani Community church offers Hire facilities for Many of their rooms.
        Suitable for all events, being Conferences, Funerals, Weddings, or Community 
        functions |<br>
        O le ekalesia Aukilani Community e ofoina atu fale fa'apitoa mo le tele o latou potu.
        E fetaui mo mea uma e fai, o Konafesi, Falelauasiga, Faʻaipoipoga, poʻo Nuu
        galuega tauave.
    <p style="text-align:center; font-size:160%;"> <strong>| Aukilani Hire is available to you |</strong> </p>
    <p style="text"> If you are seeking to book a room then you <strong>must contact Aukilani Hire via Email or Phone.</strong>
        You can view the Rooms on the Rooms page |<br>
        Afai o lo'o e mana'o e tusi se potu e tatau ona <strong> fa'afeso'ota'i Aukilani Hire e ala ile Imeli po'o le Telefoni.</strong>
        E mafai ona e va'ai i Potu ile itulau Potu

    </p>
    </div>
</div>
